@font-face {
    font-family: 'fontstylelight';
    src: url('fonts/KyivTypeSans-Light2.otf') format('opentype'); 
}
@font-face {
    font-family: 'fontstyleheavy';
    src: url('fonts/KyivTypeSans-Heavy2.otf') format('opentype'); 
}

body {
    font-family: 'fontstyle', sans-serif; 
}
.firstContainer {
    background-color: #1C8370;
    height: 800px;
}

.labelWithLine {
    position: relative;
    margin-left: 120px;
    color: white;
    font-size: 35px;    
}

.labelWithLine::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 13px; 
    width: 1120px;
    border-bottom: 3px solid #ffffff; 
    margin-left: 130px;
}
.labelWithLine::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 13px; 
    width: 60px; 
    border-bottom: 3px solid #ffffff; 
    margin-left: -90px;
}
.linkContainer {
    text-align: right;
    padding: 20px;
}

.linkContainer a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right: 130px;
    font-weight: lighter; 
}
.nameContainer {
    position: relative; 
    margin-left: 310px;
    margin-top: -90px;
}

.nameContainer h1{
    font-size: 250px;
    color: #F9ACE3;
    font-family: 'fontstyleheavy', sans-serif;
}
.nameContainer h6 {
    transform: rotate(90deg);
    transform-origin: top right; 
    position: absolute; 
    top: 0; 
    margin-left: 600px;
    margin-top: 270px;
    font-size: 25px;
    color: #F9ACE3;
    font-family: 'fontstyleheavy', sans-serif;
}

/* Estilos para segundo contenedor del landing */

.secondContainer{
    background-color: #F9ACE3;
    height: 600px;
    margin-top: -23px;
}
.textInformation1{
    position: relative; 
    margin-left: 100px;
    color: #1C8370;
    font-weight: lighter;
    font-size: 90px;
    font-family: 'fontstylelight', sans-serif;
}
.specialWord{
    font-family: 'fontstyleheavy', sans-serif;
}

/* Estilos para tercer contenedor de landing */
.image {
    width: 1407px;
    transition: transform 0.3s ease-in-out;
}
.image:hover {
    transform: scale(1.1);
}
/* Estilos para cuarto contenedor */
.fourthContainer{
    background-color: #1C8370;
    height: 500px;
    margin-top: -52px;
}
.secondTextInformation{
    font-family: 'fontstylelight', sans-serif;
    text-align: right;
    font-size: 70px;
    padding: 30px;
    color: #F9ACE3;
    font-weight: lighter;
}
.specialWordHistory{
    font-family: 'fontstyleheavy';
}
.specialWordCautivity{
    font-family: 'fontstyleheavy';
}
/* estilos quinto contenedor */

.videoLanding{
    height: 840px;
}